@import url('https://googleapis.com');

body, select, input, button { 
    font-family: 'Fredoka', 'Comic Sans MS', cursive, sans-serif; 
}

/* Hide annoying web browsers spin buttons on inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
